#-----------------------------------------------------------------------------------------------------------------------
# Dev or production environment
# If set to 'development' transactions will be executed on a local fork, no private keys are needed
# If set to 'production' transactions will be executed on the real blockchain, private keys are needed
# If left empty it will default to 'development'
#-----------------------------------------------------------------------------------------------------------------------

ENVIRONMENT = development

# For development environment, ports running local forks of Ethereum and Gnosis. If left empty they will default
# to 8546 and 8547, respetively
LOCAL_FORK_PORT_ETHEREUM =
LOCAL_FORK_PORT_GNOSIS =

#-----------------------------------------------------------------------------------------------------------------------
# Tenderly Credentials
#-----------------------------------------------------------------------------------------------------------------------

TENDERLY_ACCOUNT_ID =
TENDERLY_PROJECT =
TENDERLY_API_TOKEN =


#-----------------------------------------------------------------------------------------------------------------------
# Slack channel webhook url (can be left empty)
#-----------------------------------------------------------------------------------------------------------------------

SLACK_WEBHOOK_URL =


#-----------------------------------------------------------------------------------------------------------------------
# Ethereum (for dev environment fill in the DISASSEMBLER_ADDRESS while leaving PRIVATE_KEY empty)
#-----------------------------------------------------------------------------------------------------------------------

ETHEREUM_RPC_ENDPOINT =
ETHEREUM_FALLBACK_RPC_ENDPOINT =

# Gnosis DAO
GNOSISDAO_ETHEREUM_AVATAR_SAFE_ADDRESS =
GNOSISDAO_ETHEREUM_ROLES_MOD_ADDRESS =
GNOSISDAO_ETHEREUM_ROLE =
GNOSISDAO_ETHEREUM_PRIVATE_KEY =
GNOSISDAO_ETHEREUM_DISASSEMBLER_ADDRESS =

# Gnosis LTD
GNOSISLTD_ETHEREUM_AVATAR_SAFE_ADDRESS =
GNOSISLTD_ETHEREUM_ROLES_MOD_ADDRESS =
GNOSISLTD_ETHEREUM_ROLE =
GNOSISLTD_ETHEREUM_PRIVATE_KEY =
GNOSISLTD_ETHEREUM_DISASSEMBLER_ADDRESS =

#-----------------------------------------------------------------------------------------------------------------------
# Gnosis (for dev environment fill in the DISASSEMBLER_ADDRESS while leaving PRIVATE_KEY empty)
#-----------------------------------------------------------------------------------------------------------------------

GNOSIS_RPC_ENDPOINT =
GNOSIS_FALLBACK_RPC_ENDPOINT =

# Gnosis DAO
GNOSISDAO_GNOSIS_AVATAR_SAFE_ADDRESS =
GNOSISDAO_GNOSIS_ROLES_MOD_ADDRESS =
GNOSISDAO_GNOSIS_ROLE =
GNOSISDAO_GNOSIS_PRIVATE_KEY =
GNOSISDAO_GNOSIS_DISASSEMBLER_ADDRESS =


# Gnosis LTD
GNOSISLTD_GNOSIS_AVATAR_SAFE_ADDRESS =
GNOSISLTD_GNOSIS_ROLES_MOD_ADDRESS =
GNOSISLTD_GNOSIS_ROLE =
GNOSISLTD_GNOSIS_PRIVATE_KEY =
GNOSISLTD_GNOSIS_DISASSEMBLER_ADDRESS =
