name: Roles Royce tests

on: [push]

jobs:
  Test:

    runs-on: self-hosted
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install -r requirements-dev.txt
      - name: Try anvil
        run: anvil --version
      - name: Run tests
        run: RR_RUN_LOCAL_NODE=1 pytest -v --cov
      - name: Coverage report
        run: coverage report
      - name:  Anvil log
        if: ${{ failure() }}
        run: cat /tmp/rr_fork_node_log.txt

  docker-spark:
    needs: Test
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v3
        with:
          images: registry.digitalocean.com/karpatkey/spark-anti-liquidation-bot
          tags: |
            type=ref,event=branch
            type=sha,prefix={{branch}}-


      - name: Login to Docker
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.DOCKER_URL }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: build and Push image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          file: ./docker/Dockerfile.spark

  docker-eur:
    needs: Test
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v3
        with:
          images: registry.digitalocean.com/karpatkey/EURE-rebalancing-bot
          tags: |
            type=ref,event=branch
            type=sha,prefix={{branch}}-


      - name: Login to Docker
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.DOCKER_URL }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: build and Push image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          file: ./docker/Dockerfile.eur